In [ ]:
import pandas as pd

# 예제 데이터프레임
df = pd.DataFrame({"col1": ["a", "a ", " a", "a"]})

# "a"와 같은지 비교
print(df["col1"] == "a")

In [ ]:
import pandas as pd
display(dt_test['등기신청일자'].value_counts())

In [3]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test['cont_month'] = dt_test['계약년월'].astype('str').map(lambda x : x[4:])
dt_test['cont_month'] = dt_test['cont_month'].astype(int)
dt_test['cont_month'].value_counts()
def get_season(month):                   # 계절 정의 함수
    if month in [12, 1, 2]:
        return 'winter'
    elif month in [3, 4, 5]:
        return 'spring'
    elif month in [6, 7, 8]:
        return 'summer'
    else:
        return 'autumn'
dt_test['season'] = dt_test['cont_month'].apply(get_season)        # 계절 변수 생성
print(dt_test['season'].value_counts())

/tmp/ipykernel_831085/1126879936.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

summer    314868
spring    301525
winter    252232
autumn    250197
Name: season, dtype: int64

In [25]:
print(3&'a')

TypeError: unsupported operand type(s) for &: 'int' and 'str'

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
dt_train = pd.read_csv('/data/ephemeral/home/train.csv')
a = dt_train.shape
print(a)

dt_train['price_per_area'] = dt_train['target'] / dt_train['전용면적(㎡)']
# dt_train['price_per_area'].value_counts()

b = (dt_train['price_per_area'] > 1300).sum()

# print(b)
# c = b / a
# print(c)

# plt.figure(figsize=(10, 6))
# plt.hist(dt_train['price_per_area'], bins=50, edgecolor='black')
# plt.title('Price per Area Distribution')
# plt.xlabel('Price per Square Meter')
# plt.ylabel('Frequency')
# plt.show()

# dt_test = pd.read_csv('/data/ephemeral/home/AI_Portfolio/Python/data/test.csv')

# print(len(dt_train[dt_train['전용면적(㎡)'] > 280]))
# print(len(dt_train[dt_train['전용면적(㎡)'] < 280]))
# print(len(dt_train[dt_train['전용면적(㎡)']]))
# display(dt_train['전용면적(㎡)'])
# # dt_train = dt_train [ dt_train['전용면적'] < 280 ]

/tmp/ipykernel_781205/853459879.py:3: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_train = pd.read_csv('/data/ephemeral/home/train.csv')

(1118822, 52)
109391
[9.77733724e-02 2.10367308e+03]

In [ ]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
print(dt_test['전용면적(㎡)'].value_counts())

dt_test['전용면적(㎡)2'] = dt_test['전용면적(㎡)'].astype(int)
print(dt_test['전용면적(㎡)2'].value_counts())

/tmp/ipykernel_781205/3483139063.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

84.9600     20420
84.9700     19892
84.9900     19285
84.9800     19010
59.9400     13864
            ...
103.3900        1
49.9619         1
157.9400        1
172.4000        1
33.2700         1
Name: 전용면적(㎡), Length: 14617, dtype: int64
84     335038
59     213522
114     38325
49      29153
58      18477
        ...
424         1
249         1
258         1
395         1
325         1
Name: 전용면적(㎡)2, Length: 270, dtype: int64

In [ ]:
# 공백이 있는 갯수
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_blank = dt_test[dt_test['도로명'] == ' ']
display(dt_blank['도로명'])

In [5]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
print(dt_test['전용면적(㎡)'].value_counts())

dt_test['전용면적(㎡)2'] = dt_test['전용면적(㎡)'].astype(int)
print(dt_test['전용면적(㎡)2'].value_counts())

/tmp/ipykernel_781205/3483139063.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

84.9600     20420
84.9700     19892
84.9900     19285
84.9800     19010
59.9400     13864
            ...
103.3900        1
49.9619         1
157.9400        1
172.4000        1
33.2700         1
Name: 전용면적(㎡), Length: 14617, dtype: int64
84     335038
59     213522
114     38325
49      29153
58      18477
        ...
424         1
249         1
258         1
395         1
325         1
Name: 전용면적(㎡)2, Length: 270, dtype: int64

In [3]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test['계약년월'].value_counts().sort_index()
dt_test['계약년월'] = dt_test['계약년월'].astype(str)
dt_test_vali = dt_test[dt_test['계약년월'].isin(['202304', '202305', '202306']) ]
dt_test_train = dt_test[~dt_test['계약년월'].isin(['202304', '202305', '202306']) ]
print(dt_test_train['계약년월'].value_counts().sort_index())
# len(dt_test['계약년월']==2023)

/tmp/ipykernel_781205/1364643366.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

200701    4350
200702    3749
200703    5449
200704    4442
200705    3607
          ...
202211     646
202212     855
202301    1488
202302    2539
202303    2889
Name: 계약년월, Length: 195, dtype: int64

In [ ]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test.info()

In [ ]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test['full_addr'] = dt_test['시군구'] + dt_test['번지'].fillna('')
print(len(dt_test[ dt_test['full_addr'].isna()]))
# print(dt_test['full_addr'].info())
# # # print(dt_test['full_addr'].unique())
# print(set(dt_test_comb))

# dt_test_comb_6 = dt[ dt_test['full_addr']

In [71]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/AI_Portfolio/Python/data/test.csv')
dt_test['full_addr'] = dt_test['시군구'] + dt_test['번지'].fillna('')
print(dt_test['full_addr'].value_counts().sum())
print(dt_test['full_addr'].value_counts())

9272
서울특별시 송파구 가락동913         65
서울특별시 강북구 번동443-6        60
서울특별시 강북구 미아동1353        52
서울특별시 송파구 신천동17          50
서울특별시 강동구 고덕동693         49
                         ..
서울특별시 서대문구 홍은동265-296     1
서울특별시 서대문구 홍은동265-293     1
서울특별시 서대문구 홍은동465         1
서울특별시 서대문구 충정로3가466       1
서울특별시 강남구 개포동658-1        1
Name: full_addr, Length: 2588, dtype: int64

In [68]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

# 시군구와 번지를 결합하여 전체 주소 생성
dt_test['full_addr'] = dt_test['시군구'] + dt_test['번지']

# 빈도가 5 초과인 주소만 필터링
addresses = dt_test['full_addr'].value_counts()
print(addresses)
addresses_2 = addresses[addresses < 11]
print(addresses_2)
# addresses_to_keep = addresses[addresses < 15].index  # 빈도가 5 초과인 주소 목록

# # 해당 주소만 포함된 데이터프레임 생성
# filtered_dt_test = dt_test[dt_test['full_addr'].isin(addresses_to_keep)]

# print(len(filtered_dt_test))

/tmp/ipykernel_635721/421439868.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

서울특별시 송파구 신천동17        4322
서울특별시 강북구 미아동1353      3997
서울특별시 동작구 사당동105       3585
서울특별시 성북구 돈암동609-1     3487
서울특별시 노원구 중계동502-1     3316
                       ...
서울특별시 양천구 목동777-20        1
서울특별시 종로구 창신동638-36       1
서울특별시 강서구 화곡동938-23       1
서울특별시 서초구 잠원동8-27         1
서울특별시 용산구 한강로2가196        1
Name: full_addr, Length: 8941, dtype: int64
서울특별시 은평구 응암동402-42     10
서울특별시 광진구 중곡동238-6      10
서울특별시 은평구 응암동81-164     10
서울특별시 종로구 창신동640-252    10
서울특별시 구로구 개봉동304-16     10
                        ..
서울특별시 양천구 목동777-20       1
서울특별시 종로구 창신동638-36      1
서울특별시 강서구 화곡동938-23      1
서울특별시 서초구 잠원동8-27        1
서울특별시 용산구 한강로2가196       1
Name: full_addr, Length: 1980, dtype: int64

In [ ]:
import pandas as pd
import numpy as np
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test['시군구'] = dt_test['시군구'].apply(lambda x: np.nan if isinstance(x, str) and x.strip() == "" else x)

print(dt_test['시군구'].isnull().sum())
dt_blank = dt_test[dt_test['시군구'] == ' ']
display(set(dt_blank['시군구']))

In [ ]:
import pandas as pd
import numpy as np
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test['번지'] = dt_test['번지'].apply(lambda x: np.nan if isinstance(x, str) and x.strip() == "" else x)

print(dt_test['번지'].isnull().sum())
dt_blank = dt_test[dt_test['번지'] == ' ']
display(set(dt_blank['번지']))

In [73]:
import pandas as pd
import numpy as np
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
print(dt_test['건축년도'].value_counts())
print(dt_test['건축년도'].describe())

# dt_test['도로명'].shape
# dt_test['도로명'].info()
# print(len(dt_test['도로명'].unique()))
# print(1, dt_test['도로명'].isnull().sum())
# dt_test['도로명'] = dt_test['도로명'].apply(lambda x: np.nan if isinstance(x, str) and x.strip() == "" else x)
# print(2, dt_test['도로명'].isnull().sum())
# dt_test['도로명'].shape

/tmp/ipykernel_635721/3173200916.py:3: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

2004    68487
2003    65601
1999    59802
2000    56851
1988    55581
2005    48372
1998    44049
2001    42293
1997    42227
2002    41929
2008    37247
2006    34935
1992    32553
1996    32125
1993    30506
2007    29731
1995    27059
1994    25745
1987    25608
2009    24084
1989    23659
1986    23293
2010    21022
2011    20318
2014    17199
2012    16375
1990    15720
1991    15260
1983    14226
2013    13372
1982    11759
1984    10608
1980     9814
2015     8800
2016     8364
1978     8076
1985     8053
1979     7000
1981     5212
2018     4858
2019     4802
2017     4671
1974     3425
2020     2773
1976     2651
1971     2396
1977     2311
1975     2168
2021     1707
1973     1046
1970      688
1972      679
2022      673
1969      536
1968      251
1966      105
2023       79
1961       54
1967       17
1965       17
Name: 건축년도, dtype: int64
count    1.118822e+06
mean     1.998755e+03
std      9.333908e+00
min      1.961000e+03
25%      1.992000e+03
50%      2.000000e+03
75%      2.005000e+03
max      2.023000e+03
Name: 건축년도, dtype: float64

In [74]:
import pandas as pd
import numpy as np

# dt_blank = dt_test[dt_test['도로명'] == ' ']
# display(dt_blank['도로명'])

# # print(dt_test['도로명'].isnull().sum())

nullcnt = dt_test.isnull().sum()
notnullcnt = dt_test.notnull().sum()
full_number = pd.concat([nullcnt + notnullcnt], axis=0)
result_dt = pd.DataFrame({
    'null_count': nullcnt,
    'notnull_count': notnullcnt,
    'full_number' : full_number })
display(result_dt)
# display(dt_test['층'].value_counts())

                        null_count  notnull_count  full_number
시군구                              0        1118822      1118822
번지                             225        1118597      1118822
본번                              75        1118747      1118822
부번                              75        1118747      1118822
아파트명                          2126        1116696      1118822
전용면적(㎡)                          0        1118822      1118822
계약년월                             0        1118822      1118822
계약일                              0        1118822      1118822
층                                0        1118822      1118822
건축년도                             0        1118822      1118822
도로명                              0        1118822      1118822
해제사유발생일                    1112839           5983      1118822
등기신청일자                           0        1118822      1118822
거래유형                             0        1118822      1118822
중개사소재지                           0        1118822      1118822
k-단지분류(아파트,주상복합등등)          870691         248131      1118822
k-전화번호                      870274         248548      1118822
k-팩스번호                      872742         246080      1118822
단지소개기존clob                 1050240          68582      1118822
k-세대타입(분양형태)                869563         249259      1118822
k-관리방식                      869563         249259      1118822
k-복도유형                      869890         248932      1118822
k-난방방식                      869563         249259      1118822
k-전체동수                      870630         248192      1118822
k-전체세대수                     869563         249259      1118822
k-건설사(시공사)                  871058         247764      1118822
k-시행사                       871254         247568      1118822
k-사용검사일-사용승인일               869696         249126      1118822
k-연면적                       869563         249259      1118822
k-주거전용면적                    869608         249214      1118822
k-관리비부과면적                   869563         249259      1118822
k-전용면적별세대현황(60㎡이하)          869608         249214      1118822
k-전용면적별세대현황(60㎡~85㎡이하)      869608         249214      1118822
k-85㎡~135㎡이하                869608         249214      1118822
k-135㎡초과                   1118495            327      1118822
k-홈페이지                     1005647         113175      1118822
k-등록일자                     1107832          10990      1118822
k-수정일자                      869608         249214      1118822
고용보험관리번호                    913304         205518      1118822
경비비관리형태                     870988         247834      1118822
세대전기계약방법                    878747         240075      1118822
청소비관리형태                     871178         247644      1118822
건축면적                        869714         249108      1118822
주차대수                        869714         249108      1118822
기타/의무/임대/임의=1/2/3/4         869563         249259      1118822
단지승인일                       870286         248536      1118822
사용허가여부                      869563         249259      1118822
관리비 업로드                     869563         249259      1118822
좌표X                         869670         249152      1118822
좌표Y                         869670         249152      1118822
단지신청일                       869625         249197      1118822
target                           0        1118822      1118822

In [ ]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
nullcnt = dt_test.isnull().sum()
notnullcnt = dt_test.notnull().sum()
full_number = pd.concat([nullcnt + notnullcnt], axis=0)
result_dt = pd.DataFrame({
    'null_count': nullcnt,
    'notnull_count': notnullcnt,
    'full_number' : full_number })
display(result_dt)
# display(dt_test['층'].value_counts())

In [ ]:
import pandas as pd
dt_train = pd.read_csv('/data/ephemeral/home/train.csv')
# nullcnt = dt_train.isnull().sum()
# notnullcnt = dt_train.notnull().sum()
# full_number = pd.concat([nullcnt + notnullcnt], axis=0)
# result_dt = pd.DataFrame({
#     'null_count': nullcnt,
#     'notnull_count': notnullcnt,
#     'full_number' : full_number })
# # display(result_dt)
display(dt_train['도로명'].value_counts())
display(dt_train['아파트명'].value_counts())
print(f"도로명 : {len(dt_train['도로명'].unique())}")
print(f"아파트명 : {len(dt_train['아파트명'].unique())}")
print(f"번지 : {len(dt_train['번지'].unique())}")
print(f"시군구 : {len(dt_train['시군구'].unique())}")
dt_train['주소'] = dt_train['시군구'] + dt_train['번지']
print(f"주소 : {len(dt_train['주소'].unique())}")

In [ ]:
import pandas as pd

# 데이터 불러오기
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

# 번지 기준으로 그룹화한 후 시군구의 고유값 개수를 세어, 2개 이상의 시군구가 있는 번지를 찾기
duplicate_bunji_across_sigu = dt_test.groupby('번지')['시군구'].nunique()
duplicates = duplicate_bunji_across_sigu[duplicate_bunji_across_sigu > 1]

# 결과 출력
print("다른 시군구에서 동일한 번지를 가진 경우:")
print(duplicates)

In [ ]:
import pandas as pd
df_train = pd.read_csv('/data/ephemeral/home/train.csv')
display([df_train['도로명'] == ' '])

In [ ]:
df_train['full_address'] = df_train['시군구'] + df_train['도로명']
print(df_train['full_address'])

In [ ]:
# display(df[df['번지'].isnull()])
df_train['full_address'] = dt_train['시군구'] + df_train['도로명']
df_address_needed = df_train[df_train['좌표X'].isnull()][['도로명']]
df_address_needed_index = dt_address_needed.index
display(df_address_needed)
display(dt_address_needed_index)

In [ ]:
# 앞서 예측한 예측값들을 저장합니다.
# fill_needed = pd.DataFrame(dt_address_needed)
# fill_needed.to_csv('null-x.csv')