In [5]:
import pandas as pd

# 예제 데이터프레임
df = pd.DataFrame({"col1": ["a", "a ", " a", "a"]})

# "a"와 같은지 비교
print(df["col1"] == "a")

0     True
1    False
2    False
3     True
Name: col1, dtype: bool

In [ ]:
import pandas as pd
display(dt_test['등기신청일자'].value_counts())

            1103907
20230630        585
20230428        394
20230831        391
20230530        367
             ...
20230110          3
20230125          3
20230109          1
20230102          1
20230104          1
Name: 등기신청일자, Length: 182, dtype: int64

In [6]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test.info()

/tmp/ipykernel_635721/1091221119.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118822 entries, 0 to 1118821
Data columns (total 52 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   시군구                     1118822 non-null  object
 1   번지                      1118597 non-null  object
 2   본번                      1118747 non-null  float64
 3   부번                      1118747 non-null  float64
 4   아파트명                    1116696 non-null  object
 5   전용면적(㎡)                 1118822 non-null  float64
 6   계약년월                    1118822 non-null  int64
 7   계약일                     1118822 non-null  int64
 8   층                       1118822 non-null  int64
 9   건축년도                    1118822 non-null  int64
 10  도로명                     1118822 non-null  object
 11  해제사유발생일                 5983 non-null     float64
 12  등기신청일자                  1118822 non-null  object
 13  거래유형                    1118822 non-null  object
 14  중개사소재지                  1118822 non-null  object
 15  k-단지분류(아파트,주상복합등등)      248131 non-null   object
 16  k-전화번호                  248548 non-null   object
 17  k-팩스번호                  246080 non-null   object
 18  단지소개기존clob              68582 non-null    float64
 19  k-세대타입(분양형태)            249259 non-null   object
 20  k-관리방식                  249259 non-null   object
 21  k-복도유형                  248932 non-null   object
 22  k-난방방식                  249259 non-null   object
 23  k-전체동수                  248192 non-null   float64
 24  k-전체세대수                 249259 non-null   float64
 25  k-건설사(시공사)              247764 non-null   object
 26  k-시행사                   247568 non-null   object
 27  k-사용검사일-사용승인일           249126 non-null   object
 28  k-연면적                   249259 non-null   float64
 29  k-주거전용면적                249214 non-null   float64
 30  k-관리비부과면적               249259 non-null   float64
 31  k-전용면적별세대현황(60㎡이하)      249214 non-null   float64
 32  k-전용면적별세대현황(60㎡~85㎡이하)  249214 non-null   float64
 33  k-85㎡~135㎡이하            249214 non-null   float64
 34  k-135㎡초과                327 non-null      float64
 35  k-홈페이지                  113175 non-null   object
 36  k-등록일자                  10990 non-null    object
 37  k-수정일자                  249214 non-null   object
 38  고용보험관리번호                205518 non-null   object
 39  경비비관리형태                 247834 non-null   object
 40  세대전기계약방법                240075 non-null   object
 41  청소비관리형태                 247644 non-null   object
 42  건축면적                    249108 non-null   float64
 43  주차대수                    249108 non-null   float64
 44  기타/의무/임대/임의=1/2/3/4     249259 non-null   object
 45  단지승인일                   248536 non-null   object
 46  사용허가여부                  249259 non-null   object
 47  관리비 업로드                 249259 non-null   object
 48  좌표X                     249152 non-null   float64
 49  좌표Y                     249152 non-null   float64
 50  단지신청일                   249197 non-null   object
 51  target                  1118822 non-null  int64
dtypes: float64(18), int64(5), object(29)
memory usage: 443.9+ MB

In [ ]:
# 공백이 있는 갯수
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_blank = dt_test[dt_test['도로명'] == ' ']
display(dt_blank['도로명'])

/tmp/ipykernel_635721/1405177597.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

63981
63986
63987
82306
82307
          ..
1115471
1115472
1115595
1115601
1115602
Name: 도로명, Length: 1208, dtype: object

In [ ]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test['계약년월'].value_counts().sort_index()
dt_test['계약년월'] = dt_test['계약년월'].astype(str)
dt_test_vali = dt_test[dt_test['계약년월'].isin(['202304', '202305', '202306']) ]
dt_test_train = dt_test[~dt_test['계약년월'].isin(['202304', '202305', '202306']) ]
print(dt_test_train['계약년월'].value_counts().sort_index())
# len(dt_test['계약년월']==2023)

/tmp/ipykernel_501264/2712697157.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.read_csv('/data/ephemeral/home/train.csv')

200701    4350
200702    3749
200703    5449
200704    4442
200705    3607
          ...
202211     646
202212     855
202301    1488
202302    2539
202303    2889
Name: 계약년월, Length: 195, dtype: int64

In [7]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test.info()

/tmp/ipykernel_635721/1091221119.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118822 entries, 0 to 1118821
Data columns (total 52 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   시군구                     1118822 non-null  object
 1   번지                      1118597 non-null  object
 2   본번                      1118747 non-null  float64
 3   부번                      1118747 non-null  float64
 4   아파트명                    1116696 non-null  object
 5   전용면적(㎡)                 1118822 non-null  float64
 6   계약년월                    1118822 non-null  int64
 7   계약일                     1118822 non-null  int64
 8   층                       1118822 non-null  int64
 9   건축년도                    1118822 non-null  int64
 10  도로명                     1118822 non-null  object
 11  해제사유발생일                 5983 non-null     float64
 12  등기신청일자                  1118822 non-null  object
 13  거래유형                    1118822 non-null  object
 14  중개사소재지                  1118822 non-null  object
 15  k-단지분류(아파트,주상복합등등)      248131 non-null   object
 16  k-전화번호                  248548 non-null   object
 17  k-팩스번호                  246080 non-null   object
 18  단지소개기존clob              68582 non-null    float64
 19  k-세대타입(분양형태)            249259 non-null   object
 20  k-관리방식                  249259 non-null   object
 21  k-복도유형                  248932 non-null   object
 22  k-난방방식                  249259 non-null   object
 23  k-전체동수                  248192 non-null   float64
 24  k-전체세대수                 249259 non-null   float64
 25  k-건설사(시공사)              247764 non-null   object
 26  k-시행사                   247568 non-null   object
 27  k-사용검사일-사용승인일           249126 non-null   object
 28  k-연면적                   249259 non-null   float64
 29  k-주거전용면적                249214 non-null   float64
 30  k-관리비부과면적               249259 non-null   float64
 31  k-전용면적별세대현황(60㎡이하)      249214 non-null   float64
 32  k-전용면적별세대현황(60㎡~85㎡이하)  249214 non-null   float64
 33  k-85㎡~135㎡이하            249214 non-null   float64
 34  k-135㎡초과                327 non-null      float64
 35  k-홈페이지                  113175 non-null   object
 36  k-등록일자                  10990 non-null    object
 37  k-수정일자                  249214 non-null   object
 38  고용보험관리번호                205518 non-null   object
 39  경비비관리형태                 247834 non-null   object
 40  세대전기계약방법                240075 non-null   object
 41  청소비관리형태                 247644 non-null   object
 42  건축면적                    249108 non-null   float64
 43  주차대수                    249108 non-null   float64
 44  기타/의무/임대/임의=1/2/3/4     249259 non-null   object
 45  단지승인일                   248536 non-null   object
 46  사용허가여부                  249259 non-null   object
 47  관리비 업로드                 249259 non-null   object
 48  좌표X                     249152 non-null   float64
 49  좌표Y                     249152 non-null   float64
 50  단지신청일                   249197 non-null   object
 51  target                  1118822 non-null  int64
dtypes: float64(18), int64(5), object(29)
memory usage: 443.9+ MB

In [33]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test['full_addr'] = dt_test['시군구'] + dt_test['번지'].fillna('')
print(len(dt_test[ dt_test['full_addr'].isna()]))
# print(dt_test['full_addr'].info())
# # # print(dt_test['full_addr'].unique())
# print(set(dt_test_comb))

# dt_test_comb_6 = dt[ dt_test['full_addr']

/tmp/ipykernel_635721/1154623500.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

0

In [30]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

# 시군구와 번지를 결합하여 전체 주소 생성
dt_test['full_addr'] = dt_test['시군구'] + dt_test['번지']

# 빈도가 5 초과인 주소만 필터링
addresses = dt_test['full_addr'].value_counts()
addresses_to_keep = addresses[addresses < 5].index  # 빈도가 5 초과인 주소 목록

# 해당 주소만 포함된 데이터프레임 생성
filtered_dt_test = dt_test[dt_test['full_addr'].isin(addresses_to_keep)]

print(len(filtered_dt_test))

/tmp/ipykernel_635721/3037995430.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

1438

In [25]:
import pandas as pd
import numpy as np
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test['시군구'] = dt_test['시군구'].apply(lambda x: np.nan if isinstance(x, str) and x.strip() == "" else x)

print(dt_test['시군구'].isnull().sum())
dt_blank = dt_test[dt_test['시군구'] == ' ']
display(set(dt_blank['시군구']))

/tmp/ipykernel_635721/1683340911.py:3: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

0

set()

In [ ]:
import pandas as pd
import numpy as np
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test['번지'] = dt_test['번지'].apply(lambda x: np.nan if isinstance(x, str) and x.strip() == "" else x)

print(dt_test['번지'].isnull().sum())
dt_blank = dt_test[dt_test['번지'] == ' ']
display(set(dt_blank['번지']))

/tmp/ipykernel_635721/4214315413.py:3: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

225

set()

In [40]:
import pandas as pd
import numpy as np
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test['도로명'].shape
dt_test['도로명'].info()
print(len(dt_test['도로명'].unique()))
# print(1, dt_test['도로명'].isnull().sum())
# dt_test['도로명'] = dt_test['도로명'].apply(lambda x: np.nan if isinstance(x, str) and x.strip() == "" else x)
# print(2, dt_test['도로명'].isnull().sum())
# dt_test['도로명'].shape

/tmp/ipykernel_635721/1891934672.py:3: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

<class 'pandas.core.series.Series'>
RangeIndex: 1118822 entries, 0 to 1118821
Series name: 도로명
Non-Null Count    Dtype
--------------    -----
1118822 non-null  object
dtypes: object(1)
memory usage: 8.5+ MB
9232

In [ ]:
import pandas as pd
import numpy as np

# dt_blank = dt_test[dt_test['도로명'] == ' ']
# display(dt_blank['도로명'])

# # print(dt_test['도로명'].isnull().sum())

nullcnt = dt_test.isnull().sum()
notnullcnt = dt_test.notnull().sum()
full_number = pd.concat([nullcnt + notnullcnt], axis=0)
result_dt = pd.DataFrame({
    'null_count': nullcnt,
    'notnull_count': notnullcnt,
    'full_number' : full_number })
display(result_dt)
# display(dt_test['층'].value_counts())

/tmp/ipykernel_635721/2978872648.py:3: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

1 0
2 1208

                        null_count  notnull_count  full_number
시군구                              0        1118822      1118822
번지                             225        1118597      1118822
본번                              75        1118747      1118822
부번                              75        1118747      1118822
아파트명                          2126        1116696      1118822
전용면적(㎡)                          0        1118822      1118822
계약년월                             0        1118822      1118822
계약일                              0        1118822      1118822
층                                0        1118822      1118822
건축년도                             0        1118822      1118822
도로명                           1208        1117614      1118822
해제사유발생일                    1112839           5983      1118822
등기신청일자                           0        1118822      1118822
거래유형                             0        1118822      1118822
중개사소재지                           0        1118822      1118822
k-단지분류(아파트,주상복합등등)          870691         248131      1118822
k-전화번호                      870274         248548      1118822
k-팩스번호                      872742         246080      1118822
단지소개기존clob                 1050240          68582      1118822
k-세대타입(분양형태)                869563         249259      1118822
k-관리방식                      869563         249259      1118822
k-복도유형                      869890         248932      1118822
k-난방방식                      869563         249259      1118822
k-전체동수                      870630         248192      1118822
k-전체세대수                     869563         249259      1118822
k-건설사(시공사)                  871058         247764      1118822
k-시행사                       871254         247568      1118822
k-사용검사일-사용승인일               869696         249126      1118822
k-연면적                       869563         249259      1118822
k-주거전용면적                    869608         249214      1118822
k-관리비부과면적                   869563         249259      1118822
k-전용면적별세대현황(60㎡이하)          869608         249214      1118822
k-전용면적별세대현황(60㎡~85㎡이하)      869608         249214      1118822
k-85㎡~135㎡이하                869608         249214      1118822
k-135㎡초과                   1118495            327      1118822
k-홈페이지                     1005647         113175      1118822
k-등록일자                     1107832          10990      1118822
k-수정일자                      869608         249214      1118822
고용보험관리번호                    913304         205518      1118822
경비비관리형태                     870988         247834      1118822
세대전기계약방법                    878747         240075      1118822
청소비관리형태                     871178         247644      1118822
건축면적                        869714         249108      1118822
주차대수                        869714         249108      1118822
기타/의무/임대/임의=1/2/3/4         869563         249259      1118822
단지승인일                       870286         248536      1118822
사용허가여부                      869563         249259      1118822
관리비 업로드                     869563         249259      1118822
좌표X                         869670         249152      1118822
좌표Y                         869670         249152      1118822
단지신청일                       869625         249197      1118822
target                           0        1118822      1118822

In [8]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
nullcnt = dt_test.isnull().sum()
notnullcnt = dt_test.notnull().sum()
full_number = pd.concat([nullcnt + notnullcnt], axis=0)
result_dt = pd.DataFrame({
    'null_count': nullcnt,
    'notnull_count': notnullcnt,
    'full_number' : full_number })
display(result_dt)
# display(dt_test['층'].value_counts())

/tmp/ipykernel_635721/2073800230.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

                        null_count  notnull_count  full_number
시군구                              0        1118822      1118822
번지                             225        1118597      1118822
본번                              75        1118747      1118822
부번                              75        1118747      1118822
아파트명                          2126        1116696      1118822
전용면적(㎡)                          0        1118822      1118822
계약년월                             0        1118822      1118822
계약일                              0        1118822      1118822
층                                0        1118822      1118822
건축년도                             0        1118822      1118822
도로명                              0        1118822      1118822
해제사유발생일                    1112839           5983      1118822
등기신청일자                           0        1118822      1118822
거래유형                             0        1118822      1118822
중개사소재지                           0        1118822      1118822
k-단지분류(아파트,주상복합등등)          870691         248131      1118822
k-전화번호                      870274         248548      1118822
k-팩스번호                      872742         246080      1118822
단지소개기존clob                 1050240          68582      1118822
k-세대타입(분양형태)                869563         249259      1118822
k-관리방식                      869563         249259      1118822
k-복도유형                      869890         248932      1118822
k-난방방식                      869563         249259      1118822
k-전체동수                      870630         248192      1118822
k-전체세대수                     869563         249259      1118822
k-건설사(시공사)                  871058         247764      1118822
k-시행사                       871254         247568      1118822
k-사용검사일-사용승인일               869696         249126      1118822
k-연면적                       869563         249259      1118822
k-주거전용면적                    869608         249214      1118822
k-관리비부과면적                   869563         249259      1118822
k-전용면적별세대현황(60㎡이하)          869608         249214      1118822
k-전용면적별세대현황(60㎡~85㎡이하)      869608         249214      1118822
k-85㎡~135㎡이하                869608         249214      1118822
k-135㎡초과                   1118495            327      1118822
k-홈페이지                     1005647         113175      1118822
k-등록일자                     1107832          10990      1118822
k-수정일자                      869608         249214      1118822
고용보험관리번호                    913304         205518      1118822
경비비관리형태                     870988         247834      1118822
세대전기계약방법                    878747         240075      1118822
청소비관리형태                     871178         247644      1118822
건축면적                        869714         249108      1118822
주차대수                        869714         249108      1118822
기타/의무/임대/임의=1/2/3/4         869563         249259      1118822
단지승인일                       870286         248536      1118822
사용허가여부                      869563         249259      1118822
관리비 업로드                     869563         249259      1118822
좌표X                         869670         249152      1118822
좌표Y                         869670         249152      1118822
단지신청일                       869625         249197      1118822
target                           0        1118822      1118822

In [51]:
import pandas as pd
dt_train = pd.read_csv('/data/ephemeral/home/train.csv')
# nullcnt = dt_train.isnull().sum()
# notnullcnt = dt_train.notnull().sum()
# full_number = pd.concat([nullcnt + notnullcnt], axis=0)
# result_dt = pd.DataFrame({
#     'null_count': nullcnt,
#     'notnull_count': notnullcnt,
#     'full_number' : full_number })
# # display(result_dt)
display(dt_train['도로명'].value_counts())
display(dt_train['아파트명'].value_counts())
print(f"도로명 : {dt_train['도로명'].unique()}")
print(f"아파트명 : {len(dt_train['아파트명'].unique())}")
print(f"번지 : {len(dt_train['번지'].unique())}")
print(f"시군구 : {len(dt_train['시군구'].unique())}")
dt_train['주소'] = dt_train['시군구'] + dt_train['번지']
print(f"주소 : {len(dt_train['주소'].unique())}")

/tmp/ipykernel_635721/1498037169.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_train = pd.read_csv('/data/ephemeral/home/train.csv')

올림픽로 435         4322
솔샘로 174          3997
송파대로 345         3603
성북로4길 52         3487
양재대로 1340        3369
                 ...
구로동로8길 59           1
구로동로20길 37-13       1
도림로6길 38            1
구로동로18길 44-39       1
시흥대로 224            1
Name: 도로명, Length: 9232, dtype: int64

현대              16644
신동아             12846
한신               9074
두산               8533
주공2              7918
                ...
송파레이크파크호반써밋Ⅱ        1
도곡하이빌               1
창동역블루핀1동            1
한강리버힐B동             1
신용산빌딩               1
Name: 아파트명, Length: 6538, dtype: int64

도로명 : ['언주로 3' '개포로 307' '개포로109길 69' ... '구로동로12길 4-12' '송파대로48길 ' '노량진로23가길 ']
아파트명 : 6539
번지 : 6573
시군구 : 339
주소 : 8942

In [53]:
import pandas as pd

# 데이터 불러오기
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

# 번지 기준으로 그룹화한 후 시군구의 고유값 개수를 세어, 2개 이상의 시군구가 있는 번지를 찾기
duplicate_bunji_across_sigu = dt_test.groupby('번지')['시군구'].nunique()
duplicates = duplicate_bunji_across_sigu[duplicate_bunji_across_sigu > 1]

# 결과 출력
print("다른 시군구에서 동일한 번지를 가진 경우:")
print(duplicates)

/tmp/ipykernel_635721/1501310479.py:4: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

다른 시군구에서 동일한 번지를 가진 경우:
번지
1        8
1-1      2
1-10     3
1-106    2
1-11     2
        ..
990      2
992      3
992-8    2
998      3
999      2
Name: 시군구, Length: 1318, dtype: int64

In [11]:
import pandas as pd
df_train = pd.read_csv('/data/ephemeral/home/train.csv')
display([df_train['도로명'] == ' '])

/tmp/ipykernel_501264/3434483529.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv('/data/ephemeral/home/train.csv')

,시군구,번지,본번,부번,아파트명,전용면적(㎡),계약년월,계약일,층,건축년도,...,건축면적,주차대수,기타/의무/임대/임의=1/2/3/4,단지승인일,사용허가여부,관리비 업로드,좌표X,좌표Y,단지신청일,target
63981,서울특별시 성동구 하왕십리동,1071,1071.0,0.0,왕십리자이,59.99,201807,15,2,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74000
63986,서울특별시 성동구 하왕십리동,1071,1071.0,0.0,왕십리자이,84.99,201809,19,1,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101381
63987,서울특별시 성동구 하왕십리동,1071,1071.0,0.0,왕십리자이,84.99,201809,20,14,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93909
82306,서울특별시 영등포구 당산동4가,99,99.0,0.0,당산롯데캐슬프레스티지,84.98,201808,16,13,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110000
82307,서울특별시 영등포구 당산동4가,99,99.0,0.0,당산롯데캐슬프레스티지,84.98,201808,20,19,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115471,서울특별시 종로구 옥인동,179-3,179.0,3.0,옥인시민,59.50,200709,8,2,1971,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26500
1115472,서울특별시 종로구 옥인동,179-3,179.0,3.0,옥인시민,59.50,200709,19,4,1971,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28400
1115595,서울특별시 종로구 평창동,596,596.0,0.0,삼성,84.98,200701,10,5,1998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27500
1115601,서울특별시 종로구 평창동,596,596.0,0.0,삼성,84.93,200706,27,6,1998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30700
1115602,서울특별시 종로구 평창동,596,596.0,0.0,삼성,84.93,200707,6,5,1998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25000

[0          False
 1          False
 2          False
 3          False
 4          False
            ...
 1118817    False
 1118818    False
 1118819    False
 1118820    False
 1118821    False
 Name: 도로명, Length: 1118822, dtype: bool]

In [1]:
df_train['full_address'] = df_train['시군구'] + df_train['도로명']
print(df_train['full_address'])

NameError: name 'df_train' is not defined

In [34]:
# display(df[df['번지'].isnull()])
df_train['full_address'] = dt_train['시군구'] + df_train['도로명']
df_address_needed = df_train[df_train['좌표X'].isnull()][['도로명']]
df_address_needed_index = dt_address_needed.index
display(df_address_needed)
display(dt_address_needed_index)

NameError: name 'dt_train' is not defined

In [ ]:
# 앞서 예측한 예측값들을 저장합니다.
# fill_needed = pd.DataFrame(dt_address_needed)
# fill_needed.to_csv('null-x.csv')