In [ ]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test['계약년월'].value_counts().sort_index()
dt_test['계약년월'] = dt_test['계약년월'].astype(str)
dt_test_vali = dt_test[dt_test['계약년월'].isin(['202304', '202305', '202306']) ]
dt_test_train = dt_test[~dt_test['계약년월'].isin(['202304', '202305', '202306']) ]
print(dt_test_train['계약년월'].value_counts().sort_index())
# len(dt_test['계약년월']==2023)

/tmp/ipykernel_501264/2712697157.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.read_csv('/data/ephemeral/home/train.csv')

200701    4350
200702    3749
200703    5449
200704    4442
200705    3607
          ...
202211     646
202212     855
202301    1488
202302    2539
202303    2889
Name: 계약년월, Length: 195, dtype: int64

In [35]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
dt_test.shape

/tmp/ipykernel_501264/2772700258.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

(1118822, 52)

In [6]:
import pandas as pd
dt_test = pd.read_csv('/data/ephemeral/home/train.csv')
nullcnt = dt_test.isnull().sum()
notnullcnt = dt_test.notnull().sum()
full_number = pd.concat([nullcnt + notnullcnt], axis=0)
result_dt = pd.DataFrame({
    'null_count': nullcnt,
    'notnull_count': notnullcnt,
    'full_number' : full_number })
# display(result_dt)
display(dt_test['층'].value_counts())

/tmp/ipykernel_597039/3472504760.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  dt_test = pd.read_csv('/data/ephemeral/home/train.csv')

 5     82188
 4     82045
 3     80561
 2     77037
 6     73616
       ...
 68        6
 67        6
 65        5
-4         4
 69        2
Name: 층, Length: 73, dtype: int64

In [ ]:
import pandas as pd
dt_train = pd.read_csv('/data/ephemeral/home/train.csv')
# nullcnt = dt_train.isnull().sum()
# notnullcnt = dt_train.notnull().sum()
# full_number = pd.concat([nullcnt + notnullcnt], axis=0)
# result_dt = pd.DataFrame({
#     'null_count': nullcnt,
#     'notnull_count': notnullcnt,
#     'full_number' : full_number })
# # display(result_dt)
display(dt_train['도로명'].value_counts())
display(dt_train['아파트명'].value_counts())
print(len(dt_train['도로명'].unique()))
print(len(dt_train['아파트명'].unique()))
print(len(dt_train['번지'].unique()))

/tmp/ipykernel_501264/4208198181.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv('/data/ephemeral/home/train.csv')

올림픽로 435         4322
솔샘로 174          3997
송파대로 345         3603
성북로4길 52         3487
양재대로 1340        3369
                 ...
구로동로8길 59           1
구로동로20길 37-13       1
도림로6길 38            1
구로동로18길 44-39       1
시흥대로 224            1
Name: 도로명, Length: 9232, dtype: int64

현대              16644
신동아             12846
한신               9074
두산               8533
주공2              7918
                ...
송파레이크파크호반써밋Ⅱ        1
도곡하이빌               1
창동역블루핀1동            1
한강리버힐B동             1
신용산빌딩               1
Name: 아파트명, Length: 6538, dtype: int64

9232
6539
6573

In [11]:
import pandas as pd
df_train = pd.read_csv('/data/ephemeral/home/train.csv')
display([df_train['도로명'] == ' '])

/tmp/ipykernel_501264/3434483529.py:2: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv('/data/ephemeral/home/train.csv')

,시군구,번지,본번,부번,아파트명,전용면적(㎡),계약년월,계약일,층,건축년도,...,건축면적,주차대수,기타/의무/임대/임의=1/2/3/4,단지승인일,사용허가여부,관리비 업로드,좌표X,좌표Y,단지신청일,target
63981,서울특별시 성동구 하왕십리동,1071,1071.0,0.0,왕십리자이,59.99,201807,15,2,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74000
63986,서울특별시 성동구 하왕십리동,1071,1071.0,0.0,왕십리자이,84.99,201809,19,1,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101381
63987,서울특별시 성동구 하왕십리동,1071,1071.0,0.0,왕십리자이,84.99,201809,20,14,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93909
82306,서울특별시 영등포구 당산동4가,99,99.0,0.0,당산롯데캐슬프레스티지,84.98,201808,16,13,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110000
82307,서울특별시 영등포구 당산동4가,99,99.0,0.0,당산롯데캐슬프레스티지,84.98,201808,20,19,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115471,서울특별시 종로구 옥인동,179-3,179.0,3.0,옥인시민,59.50,200709,8,2,1971,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26500
1115472,서울특별시 종로구 옥인동,179-3,179.0,3.0,옥인시민,59.50,200709,19,4,1971,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28400
1115595,서울특별시 종로구 평창동,596,596.0,0.0,삼성,84.98,200701,10,5,1998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27500
1115601,서울특별시 종로구 평창동,596,596.0,0.0,삼성,84.93,200706,27,6,1998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30700
1115602,서울특별시 종로구 평창동,596,596.0,0.0,삼성,84.93,200707,6,5,1998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25000

[0          False
 1          False
 2          False
 3          False
 4          False
            ...
 1118817    False
 1118818    False
 1118819    False
 1118820    False
 1118821    False
 Name: 도로명, Length: 1118822, dtype: bool]

In [1]:
df_train['full_address'] = df_train['시군구'] + df_train['도로명']
print(df_train['full_address'])

NameError: name 'df_train' is not defined

In [34]:
# display(df[df['번지'].isnull()])
df_train['full_address'] = dt_train['시군구'] + df_train['도로명']
df_address_needed = df_train[df_train['좌표X'].isnull()][['도로명']]
df_address_needed_index = dt_address_needed.index
display(df_address_needed)
display(dt_address_needed_index)

NameError: name 'dt_train' is not defined

In [ ]:
# 앞서 예측한 예측값들을 저장합니다.
# fill_needed = pd.DataFrame(dt_address_needed)
# fill_needed.to_csv('null-x.csv')

In [4]:
%pip install geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="myGeocoder")

# 위도와 경도 열을 미리 생성
df_address_needed['위도'] = None
df_address_needed['경도'] = None

#데이터의 좌표주소 열을 이용해 지오코딩
for i, loc in enumerate(df_address_needed['도로명']):
    coord = geolocator.geocode(loc)[-1]
    df_address_needed.loc[i, '위도'] = coord[0]
    df_address_needed.loc[i, '경도'] = coord[1]
print(df_address_needed)

Requirement already satisfied: geopy in c:\users\aidan\anaconda3\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\aidan\anaconda3\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

GeocoderInsufficientPrivileges: Non-successful status code 403